.footer {
  background-color: #f2f2f2;
  padding: 32px 16px;
  text-align: center;
  font-size: 14px;
  color: #333;
  margin-top: 32px;
}

.preguntas-frecuentes h4 {
  font-size: 24px;
  margin-top:0;
  margin-bottom: 12px;
}

.preguntas-frecuentes ul {
  list-style: none;
  padding: 0;
  margin-bottom: 24px;
}

.preguntas-frecuentes li {
  margin: 6px 0;
}

.footer-info p {
  margin: 4px 0;
  font-size: 13px;
  color: #666;
}
@media (min-width: 1024px) {
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 64px;
    text-align: left;
  }

  .preguntas-frecuentes {
    max-width: 60%;
  }

  .footer-info {
    text-align: right;
    display: flex;
    align-items: end;
  }
}
